@charset "utf-8";

.model_gnb { display: flex; justify-content: center;  gap: 60px; background: var(--main-color); padding: 20px; margin: 150px 550px;}

.model_gnb > li { width: 180px; height: 150px;}
.model_gnb > li > a { font-size: 2.5rem;}


/* .bg1 { left: calc(50% - 200px); background: url('../images/sub/modal_ipad.png') no-repeat 0 40px; }
.bg2 { left: calc(50% - 300px); background: url('../images/sub/modal_airpods.png') no-repeat 0 40px; }
.bg3 { left: calc(50% - 500px); background: url('../images/sub/modal_iphone.png') no-repeat 0 40px; }
.bg4 { left: calc(50% - 600px); background: url('../images/sub/modal_samsung.png') no-repeat 0 40px; }
.bg5 { left: calc(50% - 700px); background: url('../images/sub/modal_ipad.png') no-repeat 0 40px; } */

#model1 .depth2_bg { width: 100%; height: 250px; background: 
    
    
    
    
    #fff; position: absolute; left: 0; top: 71px;}


/* #model1 .model_gnb > li .depth2_wrap { z-index: 5; align-items: flex-start; height: 150px; width: 800px; padding: 20px 0; display: flex; gap: 100px; position: absolute; }

.bg1 { left: calc(50% - 200px); background: url('../images/sub/modal_ipad.png') no-repeat 0 40px; }
.bg2 {  left: calc(50% - 300px); background: url('../images/sub/modal_ipad.png') no-repeat 0 40px; }
.bg3 {  left: calc(50% - 500px);background: url('../images/sub/modal_ipad.png') no-repeat 0 40px; }
.bg4 {  left: calc(50% - 600px); background: url('../images/sub/modal_ipad.png') no-repeat 0 40px; }
.bg5 {  left: calc(50% - 600px); background: url('../images/sub/modal_ipad.png') no-repeat 0 40px; } */

/* .s_model { padding: 150px 0; }

.model_inner { background: #ddd; padding: 100px 500px;}
.model_gnb { background: var(--main-color); display: flex; justify-content: space-between; padding: 50px 150px; border-radius: 20px;}

.model_gnb > li > a{ font-size: 2.5rem;} */


/* #s_model .m_depth2_bg { width: 100%; height: 250px; background: #000; position: absolute; left: 0; top: 71px;}
 */

#iphone { padding: 150px 0; }

#iphone .iphone_inner {display: flex; max-width: calc(100% - 200px); margin: 0 auto;}

#iphone .iphone_inner .iphone { width: calc(100% / 3); text-align: center;}

#iphone .btn_more { text-align: center; padding: 20px;}




